version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      github-dependencies:
        patterns:
          - "@github/*"
          - "@octokit/*"
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
